<nav class="bottom-nav">
  <a class="nav-item" routerLink="/home" routerLinkActive="active">
    <lucide-icon [img]="Home" class="my-icon"></lucide-icon>
    <span>Home</span>
  </a>
  <a class="nav-item" routerLink="/leaderboard" routerLinkActive="active">
    <lucide-icon [img]="Trophy" class="my-icon"></lucide-icon>
    <span>Leaderboard</span>
  </a>
  <a class="nav-item" routerLink="/tasks" routerLinkActive="active">
    <lucide-icon [img]="CheckSquare" class="my-icon"></lucide-icon>
    <span>Tasks</span>
  </a>
  <a class="nav-item" routerLink="/friends" routerLinkActive="active">
    <lucide-icon [img]="Users" class="my-icon"></lucide-icon>
    <span>Friends</span>
  </a>
  <a class="nav-item" routerLink="/profile" routerLinkActive="active">
    <lucide-icon [img]="User" class="my-icon"></lucide-icon>
    <span>Profile</span>
  </a>
</nav>